
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Error</title>
  </head>
  <body>
    <main>Unable to process request, please try again.  </main>
    <footer>
      <%- include('../layout/footer.ejs') %>
    </footer>
  </body>
</html>