<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book App</title>
  <link rel="stylesheet" href="/styles/reset.css" />
  <link rel="stylesheet" href="/styles/base.css" />
  <link rel="stylesheet" href="/styles/modules.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
</head>
<body>
  <header>
    <h1>Favorite Book App</h1>
    <nav><a href="searches/new">Click Here to Search by Title or Author</a></nav>
  </header>
  <main></main>
  <footer></footer>
</body>
</html>