<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book App</title>
  <link rel="stylesheet" href="/styles/reset.css" />
  <link rel="stylesheet" href="/styles/base.css" />
  <link rel="stylesheet" href="/styles/modules.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
</head>
<body>
  <header>
    <h1>Favorite Book App</h1>
    <nav><a href="/search">Click Here to Search by Title or Author</a></nav>
  </header>
  <div><a href="/search">search for books</a></div>
  <div><h3>Your Bookshelf</h3></div>
  <ul>
    <% bookList.forEach(book => { %>
      <img src=<%= book.image_url %> >
      <h2 class="books"><%= book.title %></h2>
      <h3 class="books"><%= book.author %></h3>
      <button><a href="/books/<%= book.id %>">View Details</a></button>
    <% }) %>
  </ul>
</main>
</body>
</html>